{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    
    <button class="btn" type="button" id="remove">Remove person</button>
{{ form_end(form) }}

<script>
    document.getElementById('remove').addEventListener('click', function(e) {
        document.getElementById('patient_person').remove();
    })
</script>